<div class="jumbotron">
    <div class="container">
      <% if user_signed_in? && current_user.username.capitalize == "Jordane" %>
      <h1> Welcome <%= current_user.username.capitalize %> ! </h1>
      <img src ="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/pig-nose.png">  </img>

      <% elsif user_signed_in?   %>
      <h1> Welcome <%= current_user.username.capitalize %> ! </h1>
        <a href="<%= new_fact_path %>"> <span class="btn btn-primary" >Add a fact !</span></a>
      <% else %>
      <h3> Welcome ! </h3>
      <p><%= link_to new_user_registration_path  do %><span class="btn btn-primary">Register</span> <% end %> or <%= link_to new_user_session_path  do %><span class="btn btn-success">Sign in</span> <% end %>  to get started. </p>
      <p>
      <% end %>
      </p>
      <hr class="ligne_fade">
      <h3> A lire avant de commencer </h3>
      <hr class="ligne_ombre">
      <p> Coucou les moussaillons ! Vous êtes actuellement sur une version 0.1 d'un site que je suis en train de créer.</p>
      <p> Vous ne retrouverez donc pas les mêmes noms que l'exercice THP ! </p>
      <p> Cependant toutes les fonctions de l'exercice "devise evenbrite" sont présentes: </p>
      <p> ➤ Au lieu de créer des events, vous créez des <b>facts</b> <br><br>
       ➤ Seulement un utilisateur <strong>inscrit</strong> peux créer des facts dans l'onglet 'fact/add a fact', qui n'est visible qu'une fois connecté <br><br>
       ➤ L'onglet <strong>my facts </strong> affiche uniquement vos facts <br><br>
       ➤ Vous ne pouvez pas modifier ou supprimer un fact si vous n'en êtes pas l'auteur<br><br>
       ➤ Vous devez "payer" pour créer un fact<br> <br>
       ➤ "pay with card", puis remplissez le formulaire avec des chiffres random comme 4242 4242 4242 4242 pour la carte, 01/25 pour la date  <br><br>
       ➤ Une fois que vous avez payé, vous serez redirigés vers le lien du fact . <br> <br>
       ➤ Il semblerait qu'il puisse y avoir de temps à autre un problème à la création d'un fact avec payement.
       ➤ L'autre formulaire permet la création d'un fact normal 
       ➤ Merci de prendre en considération le fait que <strong> je n'ai pas suivi les guidelines pour avancer sur un site perso </strong> <br><br>
       ➤ Les compétences demandées sont mises en oeuvre pour créer ce site ;) <br><br>
       ➤ Much love <3
    </p>
    </div>
</div>
