<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">&nbsp J_RIT &nbsp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facts <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= facts_path %>">All the facts</a></li>
              <li><a href="<%= myfacts_path %>">My facts</a></li>
              <% if user_signed_in? %>
                <li><a href="<%= new_fact_path %>">Add a fact</a></li>
              <%else%>
              <%end%>
            </ul>
          </li>

          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Category 1</a></li>
                <li><a href="#"> Catégory 2</a></li>
                <li><a href="#">Category 3</a></li>
                <li><a href="#"> Catégory 4</a></li>
              </ul>
            </li>

      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bienvenue <%= current_user.username %> ! <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">See my profil</a></li>
              <li><a href="<%= edit_user_registration_path %>">Edit my profil</a></li>
            </ul>
          </li>
          <li><%= link_to destroy_user_session_path, method: :delete  do %><span class="glyphicon glyphicon-log-out"></span>  Logout <% end %></li>

      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <% end %>
      </div>
    </div>
</nav>
